@import url("style/palette.css");
@import url("style/header.css");
@import url("style/nav.css");
@import url("style/lead_form.css");
@import url("style/cosa_facciamo.css");
@import url("style/tecnologie.css");
@import url("style/partner.css");
@import url("style/preventivo.css");
@import url("style/footer.css");
@import url("style/gallery.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.6;
    background: white;
    color: var(--eerie-black);
    font-family: "Inter", Sans-serif;
}

.debug {
    /*border: 1px solid red;
    */
}

.main_btn {
    width: 200px;
    height: 48px;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: var(--color-primary);
    font-size: 16px;
    border-radius: 16px;
}

.btn-xxl{
    padding: 16px 32px;
    width: 250px;
    height: 60px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-container {
    display: flex;
    max-width: 1200px;
    padding: 24px;
}

.vertical {
    flex-direction: column;
    width: 100%;
}

.horizontal {
    flex-direction: row;
}

.center_center {
    justify-content: center;
    align-items: center;
}


.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 5px #999;
    z-index: 1000;
}

.whatsapp-float img {
    margin-top: 7px;
    width: 45px;
    height: 45px;
}