@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --polimeri: #FF2E63;
    --colore-primario: #2f3640;
    --colore-secondario: #f5f6fa;
    --colore-terziario: #7f8fa6;
    --colore-bianco-1: #fafafa;
    --colore-bianco-2: #dcdde1;
}


html {
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    line-height: 1.6;
    background: var(--colore-bianco-1);
    color: var(--colore-primario);
}

header {
    background: var(--colore-bianco-1);
    color: var(--colore-primario);
    text-align: center;
    padding: 2rem 1rem;
    border-bottom: 1px solid --colore-bianco-2;
}

header .section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 100%;
}

header img {
    max-width: 400px;
}

header .social-section {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.social-section .social-button {
    border: 1px solid var(--colore-primario);
    padding: 8px 32px;
    text-decoration: none;
    color: var(--colore-primario);
}

.social-section .social-button:hover {
    color: var(--polimeri);
}

header,
section,
footer {
    width: 100%;
    padding: 24px;
    display: flex;
    justify-content: center;
}

.section-container {
    max-width: 1200px;
}

form label {
    display: block;
    margin-top: 1rem;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--colore-terziario);
    border-radius: 6px;
}

/* Cosa facciamo */

h2.title {
    color: var(--colore-primario);
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
}

.column {
    padding: 8px;
    width: calc(25% - 16px);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.column .icon img {
    width: 60px;
    height: auto;
}

.column .title {
    font-size: 18px;
}

.column .description {
    font-size: 14px;
}

/* Preventivo */

#preventivo>.title {
    text-align: center;
}

#preventivo_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#preventivo>.title {
    color: var(--colore-primario);
}

#preventivo input,
#preventivo textarea {
    border-radius: 0px;
    text-decoration: none;
    width: 100%;
}

#preventivo_container form {
    width: 50%;
    padding: 16px;
}

#preventivo_container .right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

form button {
    background-color: var(--colore-primario);
    color: var(--colore-secondario);
    border-radius: 0.75rem;
    font-size: 16px;
    width: 100%;
    margin-top: 1rem;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

.timeline {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 20px;
}

.step {
    display: flex;
    align-items: center;
    gap: 12px;
}

.step .number {
    background: var(--colore-primario);
    color: var(--colore-secondario);
    font-weight: bold;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.step p {
    margin: 0;
    font-size: 14px;
    color: var(--colore-primario);
    line-height: 1.4;
}

/* Footer */

footer {
    min-height: 100px;
    background-color: var(--colore-primario);
    color: var(--colore-secondario);
    border-top: 1px solid rgba(245, 246, 250, 0.2);
}

.footer .footer-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.footer-brand,
.footer-info {
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-info {
    justify-content: space-around;
}

.footer-brand img {
    max-width: 300px;
}

.footer-info a {
    color: var(--colore-secondario);
    text-decoration: none;
    font-weight: bold;
}

.footer-info a:hover {
    text-decoration: underline;
    transition: color 0.3s ease;
}

/* Tablet (max-width: 992px) */
@media (max-width: 992px) {

    #preventivo_container form {
        width: 100%;
    }

    #preventivo_container .right {
        width: 100%;
    }

    .column {
        width: calc(50% - 16px);
    }

}

/* Mobile (max-width: 600px) */
@media (max-width: 600px) {

    #preventivo_container form {
        width: 100%;
    }

    #preventivo_container .right {
        width: 100%;
    }

    header img {
        max-width: 300px;
    }


    .column {
        width: calc(100%);
    }


    .footer-brand,
    .footer-info {
        width: 100%;
    }

    header .social-section {
        gap: 16px;
    }

    .social-section .social-button {
        width: 100%;
        max-width: 60%;
    }

}