/* Partner */

#partner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--white);
}

.partner-title{
    width: 100%;
    max-width: 1200px;
    padding: 24px;
    text-align: center;
}

#partner>.row {
    max-width: 1200px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;   
    padding: 24px;
}

#partner .row .column a {
    line-height: 0;
    padding: 0;
    margin: 0;
}

#partner>.row>.column {
    display: flex;
    width: 25%;
    min-height: 160px;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.partner-text {
    font-size: 18px;
    font-weight: 800;
}

#partner>.row>.column>a>img {
    max-height: 80px;
    width: 100%;
    object-fit: contain;
    filter: grayscale();
}

#partner>.row>.column>a>img:hover{
    filter: none;
}

/* Tablet (max-width: 992px) */
@media (max-width: 992px) {
    #partner .row .column {
        width: 25%;
    }
}

/* Mobile (max-width: 600px) */
@media (max-width: 600px) {
    #partner .row .column {
        width: 50%;
    }
}